/* Imports
2. General
3. Mobile
4. Larger(er) screens */

/* Imports*/
/*sansita from google fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
@import url('normalize.css');


/* 2. General */
.title{
    text-align: center;
    color:black;
}
.header{
    background-color: rgb(0, 140, 255);
    color:black;
    display: flex;
    text-align: center;
   
}

#temperature{
font-size: 2em;
}
#temp{
    display: flex;
}
#high{
    color: red;
}
#low{
    color: blue;
}
.background{
    background-image: url(../weather/weather-site-images/rain.jpg);
}
#rain{
    position: center;
    width: 200px;
}
body{
    font-size:20px;
    font-family: helvetica, sans-serif;
    text-align: center;
    justify-content: center;
}
h1, h2, h3, h4, h5, h6{
font-family: Sansita, sans-serif;
}
p{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
      display: inline-block;
      margin:20px;
  }
  #hourly{
      background-color: lightgray;
      border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;   
  }
.border{
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;

}
.wind{
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    position: relative;
    text-align: center;
}
footer{
   background: rgb(0, 140, 255);
}
/* Mobile */
.wind{
    flex-flow: column;
}
.temp{
    flex-flow: column;
}
.nav{
    background: rgb(0, 140, 255);
    display: flex;
}
#style{
    position: fixed;
    color:white;
    bottom: 0;
    background:  rgb(0, 140, 255);
    width: 100%;
}
