/* Imports
2. General
3. Mobile
4. Larger(er) screens */

/* Imports*/
/*sansita from google fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
@import url('normalize.css');


/* 2. General */
.title{
    text-align: center;
    color:black;
}
.header{
    background-color: blue;
    color:black;
    text-align: center;
   
}
.nav{
    background: blue;
}
body{
    font-size:20px;
    font-family: helvetica, sans-serif;
    text-align: center;
    
}
h1, h2, h3, h4, h5, h6{
font-family: Sansita, sans-serif;
}
p{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
      display: inline-block;
      margin:20px;
  }
.border{
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;

}
.wind{
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    position: relative;
    text-align: center;
}
footer{
   background: blue;
}